[adxl345]
cs_pin: none
#spi_bus: spi1a
spi_software_sclk_pin: PD3
spi_software_mosi_pin: PD5
spi_software_miso_pin: PD4
axes_map: x, y, z

[resonance_tester]
probe_points: 117.5, 117.5, 50
accel_chip: adxl345