 [gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 235.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 4.0   ; the value to retract while PAUSE
variable_cancel_retract   : 4.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 45.0  ; retract speed in mm/s
variable_unretract        : 4.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 10.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

[gcode_macro PARK_TOOLHEAD]
gcode:
  G91
  G1 Z5 F1200
  G90
  G1 X0 Y235 F6000

[gcode_macro M300]
gcode:
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=beeper VALUE=1
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0

[gcode_macro FILAMENT_PURGE]
gcode:
  G90
  M83
  G92 E0
  G1 X5 Y0 F36000
  G1 Z1 F600
  M106 S255
  G1 Y50 E60 F1440
  M106 S0
  G1 Z1.5 F600
  G1 Y55 F36000
  G1 Z0.3

  G1 Y155 E6 F1800
  G1 X5.4 F36000
  G1 Y55 E6 F1800
  G1 Z1 F600

[gcode_macro FILAMENT_LOAD]
gcode:
  M83
  G92 E2
  G1 E70 F3600
  G1 E20 F420

[gcode_macro FILAMENT_UNLOAD]
gcode:
  M83
  G92 E2
  G1 E10 F420
  G1 E-80 F3600

[gcode_macro ALIGN_Z]
gcode:
    G90
    G1 Z180 F1800
    G1 Z200 F1200
    G28 X Y Z