[display_template _print_status]
text:
  {% if printer.display_status.message %}
    { printer.display_status.message }
  {% elif printer.idle_timeout.printing_time %}
    {% set pos = printer.toolhead.position %}
    { "X%-4.0fY%-4.0fZ%-5.2f" % (pos.x, pos.y, pos.z) }
  {% else %}
    Ender-3000 Ready
  {% endif %}

[display_glyph feedrate]
data:
  ................
  ................
  ................
  ......******....
  ....**********..
  ...****....****.
  ..***........**.
  .***..........*.
  .**..*..........
  ***...*.........
  **.....*........
  **......**......
  **......***.....
  **.......**.....
  ................
  ................

## HIDE DEFAULT MENUS ##

[menu __main __tune]
type: disabled

[menu __main __octoprint]
type: disabled

[menu __main __sdcard]
type: disabled

[menu __main __control]
type: disabled

[menu __main __temp]
type: disabled

[menu __main __filament]
type: disabled

[menu __main __setup]
type: disabled

## CURRENT JOB ##

[menu __main __resume]
type: command
enable: {('virtual_sdcard' in printer) and printer.print_stats.state == "paused"}
name: Resume job
gcode:
  RESUME

[menu __main __pause]
type: command
enable: {('virtual_sdcard' in printer) and printer.print_stats.state == "printing"}
name: Pause job
gcode:
  PAUSE

[menu __main __cancel]
type: command
enable: {('virtual_sdcard' in printer) and (printer.print_stats.state == "printing" or printer.print_stats.state == "paused")}
name: Cancel job
gcode:
  CANCEL_PRINT

## MENU TUNE ##

[menu __main __print_tune]
type: list
enable: {printer.idle_timeout.state == "Printing"}
name: Tune

[menu __main __print_tune __print_speed]
type: input
name: Speed: {'%3d' % (menu.input*100)}%
input: {printer.gcode_move.speed_factor}
input_min: 0.01
input_max: 5
input_step: 0.01
realtime: True
gcode:
  M220 S{'%d' % (menu.input*100)}
  
[menu __main __print_tune __print_flow]
type: input
name: Flow: {'%3d' % (menu.input*100)}%
input: {printer.gcode_move.extrude_factor}
input_min: 0.01
input_max: 2
input_step: 0.01
realtime: True
gcode:
  M221 S{'%d' % (menu.input*100)}

[menu __main __print_tune __print_z_offset]
type: input
name: Z Offset:{'%05.3f' % menu.input}
input: {printer.gcode_move.homing_origin.z}
input_min: -5
input_max: 5
input_step: 0.005
realtime: True
gcode:
    SET_GCODE_OFFSET Z={'%.3f' % menu.input} MOVE=1

## MENU CONTROL ##
[menu __main __printer_control]
type: list
name: Control
enable: {not printer.idle_timeout.state == "Printing"}
index: 2

[menu __main __printer_control __home_submenu]
type: list
name: Home axis
index: 1

[menu __main __printer_control __home_submenu __home_all]
type: command
name: Home all
gcode:
  G28
  {menu.back()}
[menu __main __printer_control __home_submenu __home_xy]
type: command
name: Home X/Y
gcode: G28 X Y

[menu __main __printer_control __home_submenu __home_z]
type: command
name: Home Z
gcode: G28 Z

[menu __main __printer_control __move_submenu]
type: list
name: Move axis
enable: {printer.toolhead.homed_axes|length == 3}
index: 2

[menu __main __printer_control __move_submenu __move_10]
type: list
name: Move 10mm

[menu __main __printer_control __move_submenu __move_10 __move_10_x]
type: input
name: Move X: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.x}
input_min: {printer.toolhead.axis_minimum.x}
input_max: {printer.toolhead.axis_maximum.x}
input_step: 10.0
realtime: true
gcode: 
  G90
  G1 X{menu.input} F6000

[menu __main __printer_control __move_submenu __move_10 __move_10_y]
type: input
name: Move Y: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.y}
input_min: {printer.toolhead.axis_minimum.y}
input_max: {printer.toolhead.axis_maximum.y}
input_step: 10.0
realtime: true
gcode:
  G90
  G1 Y{menu.input} F6000

[menu __main __printer_control __move_submenu __move_10 __move_10_z]
type: input
name: Move Z: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_min: {printer.toolhead.axis_minimum.z}
input_max: {printer.toolhead.axis_maximum.z}
input_step: 10.0
realtime: true
gcode:
  G90
  G1 Z{menu.input} F1200

[menu __main __printer_control __move_submenu __move_1]
type: list
name: Move 1mm

[menu __main __printer_control __move_submenu __move_1 __move_1_x]
type: input
name: Move X: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.x}
input_min: {printer.toolhead.axis_minimum.x}
input_max: {printer.toolhead.axis_maximum.x}
input_step: 1.0
realtime: true
gcode:
  G90
  G1 X{menu.input} F6000

[menu __main __printer_control __move_submenu __move_1 __move_1_y]
type: input
name: Move Y: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.y}
input_min: {printer.toolhead.axis_minimum.y}
input_max: {printer.toolhead.axis_maximum.y}
input_step: 1.0
realtime: true
gcode:
  G90
  G1 Y{menu.input} F6000

[menu __main __printer_control __move_submenu __move_1 __move_1_z]
type: input
name: Move Z: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_min: {printer.toolhead.axis_minimum.z}
input_max: {printer.toolhead.axis_maximum.z}
input_step: 1.0
realtime: true
gcode:
  G90
  G1 Z{menu.input} F1200

[menu __main __printer_control __move_submenu __move_01]
type: list
name: Move 0.1mm

[menu __main __printer_control __move_submenu __move_01 __move_01_x]
type: input
name: Move X: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.x}
input_min: {printer.toolhead.axis_minimum.x}
input_max: {printer.toolhead.axis_maximum.x}
input_step: 0.1
realtime: true
gcode:
  G90
  G1 X{menu.input} F6000

[menu __main __printer_control __move_submenu __move_01 __move_01_y]
type: input
name: Move Y: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.y}
input_min: {printer.toolhead.axis_minimum.y}
input_max: {printer.toolhead.axis_maximum.y}
input_step: 0.1
realtime: true
gcode:
  G90
  G1 Y{menu.input} F6000

[menu __main __printer_control __move_submenu __move_01 __move_01_z]
type: input
name: Move Z: {'%05.1f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_min: {printer.toolhead.axis_minimum.z}
input_max: {printer.toolhead.axis_maximum.z}
input_step: 0.1
realtime: true
gcode:
  G90
  G1 Z{menu.input} F1200

[menu __main __printer_control __park_toolhead]
type: command
name: Park toolhead
gcode: PARK_TOOLHEAD

[menu __main __printer_control __steppers_off]
type: command
name: Steppers off
gcode: M84

[menu __main __printer_control __bed_mesh]
type: command
name: Bed Mesh
gcode:
  {% if printer.toolhead.homed_axes|length == 3 %}
    BED_MESH_CALIBRATE
  {% else %}
    G28
    BED_MESH_CALIBRATE
  {% endif %}

[menu __main __printer_control __fan_speed]
type: input
enable: {'fan' in printer}
name: Fan: {'%3d' % (menu.input*100)}%
input: {printer.fan.speed}
input_min: 0
input_max: 1
input_step: 0.05
gcode:
    M106 S{'%d' % (menu.input*255)}

## MENU TEMP ##

[menu __main __printer_temp]
type: list
name: Temperature
enable: {not printer.idle_timeout.state == "Printing"}
index: 3

[menu __main __printer_temp __hotend_temp]
type: input
enable: {('extruder' in printer) and ('extruder' in printer.heaters.available_heaters)}
name: {"~extruder~ %3.0f ~right_arrow~ %4.0f" % (printer.extruder.temperature, menu.input)}
input: {printer.extruder.target}
input_min: 0
input_max: {printer.configfile.config.extruder.max_temp}
input_step: 1
gcode: M104 T0 S{'%.0f' % menu.input}

[menu __main __printer_temp __bed_temp]
type: input
enable: {'heater_bed' in printer}
name: {"~bed~ %3.0f ~right_arrow~ %4.0f" % (printer.heater_bed.temperature, menu.input)}
input: {printer.heater_bed.target}
input_min: 0
input_max: {printer.configfile.config.heater_bed.max_temp}
input_step: 1
gcode: M140 S{'%.0f' % menu.input}

[menu __main __printer_temp __cooldown]
type: command
name: Cooldown
gcode: TURN_OFF_HEATERS

[menu __main __printer_temp __preheat_submenu]
type: list
name: Preheat

[menu __main __printer_temp __preheat_submenu __PLA]
type: command
name: PLA
gcode:
	M104 S200
	M140 S60
    {menu.exit()}

[menu __main __printer_temp __preheat_submenu __PETG]
type: command
name: PETG
gcode:
  M104 S240
  M140 S80
  {menu.exit()}

[menu __main __printer_temp __preheat_submenu __ABS]
type: command
name: ABS
gcode: 
	M104 S260
	M140 S100
    {menu.exit()}

[menu __main __printer_temp __calibrate_pid]
type: list
name: Tune PID

[menu __main __printer_temp __calibrate_pid __pid_he]
type: command
name: Tune hotend PID
gcode: PID_CALIBRATE HEATER=extruder TARGET=230

[menu __main __printer_temp __calibrate_pid __pid_bed]
type: command
name: Tune hotbed PID
gcode: PID_CALIBRATE HEATER=heater_bed TARGET=70

## MENU NETWORK ##
[menu __main __printer_setup __network]
type: list
name: Network Info

[menu __main __printer_setup __network _mdns]
type: command
name: mDNS: {printer.network_status.mdns}

[menu __main __printer_setup __network _ethip]
type: command
name: Eth IP: {printer.network_status.ethip}

[menu __main __printer_setup __network _wifissid]
type: command
name: Wifi SSID: {printer.network_status.wifissid}

[menu __main __printer_setup __network _wifiip]
type: command
name: Wifi IP: {printer.network_status.wifiip}

## MENU SETUP ##
[menu __main __printer_setup]
type: list
name: Setup
enable: {not printer.idle_timeout.state == "Printing"}
index: 4

[menu __main __printer_setup __save_config]
type: command
name: Save config
gcode:
  M117 Please wait...
  {menu.exit()}
  SAVE_CONFIG

[menu __main __printer_setup __restart_submenu]
type: list
name: Restart

[menu __main __printer_setup __restart_submenu __restart_fw]
type: command
name: FIRMWARE_RESTART
gcode:
  M117 Please wait...
  {menu.exit()}
  FIRMWARE_RESTART

[menu __main __printer_setup __restart_submenu __restart_klipper]
type: command
name: RESTART
gcode:
  M117 Please wait...
  {menu.exit()}
  RESTART

[menu __main __printer_setup __shutdown_host_confirm]
type: list
name: Shutdown

[menu __main __printer_setup __shutdown_host_confirm __shutdown_y]
type: command
name: Confirm
gcode:
  M117 Shutting down...
  M118 !! Machine shutting down...
  {menu.exit()}
  G4 S1
  {action_call_remote_method("shutdown_machine")}