# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include TEST_SPEED.cfg]
[include menu.cfg]
[include macros.cfg]
[include adxl.cfg]

################################################################
# STEPPERS and TMC DRIVERS
################################################################

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: PC0
position_endstop: 0
position_max: 235
homing_speed: 100
second_homing_speed: 20

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.750
hold_current: 0.560
stealthchop_threshold: 0

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
homing_speed: 100
second_homing_speed: 20

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 2.0
hold_current: 1.75
stealthchop_threshold: 0

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 5.0
position_max: 190
homing_speed: 50
second_homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: toolhead:PA15
run_current: 0.550
hold_current: 0.500
stealthchop_threshold: 0

################################################################
# EXTRUDER and HEATERS
################################################################

[extruder]
step_pin: toolhead:PD0
dir_pin: toolhead:PD1
enable_pin: !toolhead:PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.4
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: toolhead:PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: toolhead:PA3
control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
max_extrude_only_distance: 500
max_extrude_cross_section: 4

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_kp: 69.543
pid_ki: 0.968
pid_kd: 1249.167
min_temp: 0
max_temp: 110

################################################################
# ABL and MESH
################################################################

[bltouch]
sensor_pin: ^toolhead:PB8
control_pin: toolhead:PB9
x_offset: -40
y_offset: 1
#z_offset: 5
speed: 10
sample_retract_dist: 4
lift_speed: 40
stow_on_each_sample: false
pin_move_time: 0.25
samples: 1

[safe_z_home]
home_xy_position: 157.5, 116.5
speed: 500
z_hop: 10
z_hop_speed: 10

[bed_mesh]
speed: 500
horizontal_move_z: 4
mesh_min: 20, 20
mesh_max: 195, 216
probe_count: 4,4

[screws_tilt_adjust]
screw1: 70, 29
screw1_name: Front Left Screw
screw2: 235, 29
screw2_name: Front Right Screw
screw3: 235, 204
screw3_name: Rear Right Screw
screw4: 70, 204
screw4_name: Rear Left Screw
horizontal_move_z: 5
speed: 300
screw_thread: CW-M4

[bed_screws]
screw1: 30, 30
screw1_name: Front Left Screw
screw2: 205, 30
screw2_name: Front Right Screw
screw3: 205, 205
screw3_name: Rear Right Screw
screw4: 30, 205
screw4_name: Rear Left Screw

################################################################
# OUTPUTS
################################################################

[controller_fan Controller_Fan]
pin: PC7
idle_speed: 1
fan_speed: 1
idle_timeout: 60
cycle_time: 0.05
heater: 
stepper: stepper_x, stepper_y, stepper_z

[heater_fan Heatbreak_Fan]
pin: toolhead:PA1
fan_speed: 1
heater_temp: 60
cycle_time: 0.05

[fan]
pin: toolhead:PA0
kick_start_time: 0.5
cycle_time: 0.05

[output_pin beeper]
pin: EXP1_1

[output_pin Light]
pin: PC8
value: 1
shutdown_value: 0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

################################################################
# PRINTER
################################################################

[mcu]
serial: /dev/ttyAMA0
restart_method: command

[mcu toolhead]
canbus_uuid: 596afa843e59

[temperature_sensor RP3A0]
sensor_type: temperature_host

[temperature_sensor RP3A0]
sensor_type: temperature_host

[temperature_sensor mcu_main]
sensor_type: temperature_mcu

[temperature_sensor mcu_tool]
sensor_type: temperature_mcu
sensor_mcu: toolhead
min_temp: 0
max_temp: 70

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 16000
max_z_velocity: 40
max_z_accel: 300

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
menu_timeout: 30

[network_status]

[exclude_object]

# [input_shaper]
# shaper_type_y = ei
# shaper_freq_y = 46.6
# shaper_type_x = mzv
# shaper_freq_x = 59.4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_kp = 14.141
#*# pid_ki = 0.704
#*# pid_kd = 71.057
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.160000, -0.070000, 0.005000, 0.017500
#*# 	-0.082500, -0.015000, 0.037500, 0.067500
#*# 	-0.037500, 0.010000, 0.052500, 0.062500
#*# 	-0.017500, 0.060000, 0.075000, 0.040000
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 194.99
#*# min_y = 20.0
#*# max_y = 215.99
#*#
#*# [bltouch]
#*# z_offset = 1.220
